body {

  background-size: cover;
  background-clip: border-cover;
  background-color: grey;
  background-origin: padding-box;
}
h1 {
    text-align: center;
    font-size: 60px;
    color: green;
}

p{
  text-align: center;
  color: green;
  font-size: 24px;
}

a{
  font-size: 20px;
  color: blue;
  padding-right: 25px;
}

h4{
  color: green;
  text-align: center;
}
link{
  padding-left: 200px;
}

#center-social-link{
  margin-left: 30%;
}
